/**********************************
GENERAL
***********************************/

body 
{
  font-family: 'Open Sans', sans-serif;
}

#wrapper 
{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a 
{
  text-decoration: none;
}

img 
{
  max-width: 100%;
}

h3, h4 
{
  margin: 0 0 1em 0;
}

/**********************************
HEADING
***********************************/

header 
{
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo 
{
  text-align: center;
  margin: 0;
}

h1 
{
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 
{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/**********************************
NAVIGATION
***********************************/

nav 
{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul 
{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li 
{
  display: inline-block;
}

nav a 
{
  font-weight: 800;
  padding: 15px 10px;
}

/**********************************
FOOTER
***********************************/

footer 
{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: black;
}

.social-icon 
{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/**********************************
PAGE: RESURS
***********************************/

#gallery 
{
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li 
{
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p 
{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}

/**********************************
PAGE: ABOUT
***********************************/

img.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100;
}
/*.profile-photo 
{
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;

}
*/
/**********************************
PAGE: CONTACT
***********************************/

.contact-info 
{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a 
{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a 
{
  background-image: url('../img/phone.png');
}

.contact-info li.mail a 
{
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a 
{
  background-image: url('../img/twitter.png');
}

/**********************************
COLORS
***********************************/

/* site body */
body 
{
  background-image: url('../img/binding_dark.png');
  /*background-color: #fff;
  color: black; */
}

/* Blue header */
header 
{
  background-image: url ('.../img/carbon_fibre.png')
  /* border-color: #599a68; */
}

/* nav background on mobile */
nav 
{
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:17px 17px; 
}

/* logo text */
h2 
{
  font-family: Palatino,Palatino Linotype;
  color: #fff;
}

/* Used for border text */
h1 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 70px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #fff;
}

 /* Used for links */
h3 {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	font-color: #fff;
}

body
{
	font-family: Palatino,Palatino Linotype;
	font-size: 18px;
	color: #fff;
}

/* links */
a 
{
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited 
{
  color: white;
}

/* selected nav link */
nav a.selected
{
  color: white;
}

nav a.active, nav a:hover 
{
    color: #06e;
}
