<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DPY - Digital Presentationsyta</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
	  <p></p>
      <a href="../index.html" id="logo">
        <h1>PORTFOLIO</h1>
      
      </a> 
    </header>
     <nav>
        <ul>
          <li><h3><a href="../index.html" class="selected">Resource</a></h3></li>
          <li><u><h3><a href="about.html">About</a></h3></u></li>
          <li><h3><a href="contact.html">Contact</a></h3></li>
        </ul>
    </nav>
    <div id="wrapper">
      <section>
	           <!-- Profilbild. OBS Bilden hoppar fortfarande -->
			   <p></p>
		<!--	<img height="320" alt ="Profile picture" src="../img/DSC_0025.png" weight="240" /> -->
         <!-- <img src="../img/DSC_0025.png" alt="Profile" class="center" height="320" width="240"> -->
		   <p></p>
		    <h3>Hi! You've reached to the portfolio of Alexander Vikenfalk </h3>
			
           <p align = "justify">I've always had a fascination for computers and technology. Since I was a child I've always been drawn to plugging things in 
          and tinkering with them to make them do my bidding. A gnarly road of trying out different hobbies and fastly losing interest 
          in most of them eventually led up to me being 100% sure off that I wanted to work with computer. Something with the rationality
          and logic in communicating with computers really speak to me. After hish school I ended up studying a network technican program  
          with focus and managing windows environments. After my studies I got a job as technical support for one of our nuclear power plants 
          but after 4 years I hade grown tired of the work and decided to become a student once again. For the time being im located in Berlin
          where I study backend and frontend development via Sweden.</p>
          <p><b>What could i teach others?</b></p>
          <p align = "justify">My biggest interests in life are technology and music and I'd be glad to share the little knowledge I have when it comes to those two 
          subjects. And I can't gurante you that I'm good at teaching but I'd be glad to share my knowledge no matter if you would like to know 
          the roots of modern rock, how to troubleshoot your network connection or when you should use generic lists when bulding an application.</p>           
        
      </section>
    </div>
    <footer>
        Länkar till din LinkedIn eller twitter
    </footer>
  </body>
</html>
