<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DPY - Digital Presentationsyta</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
	 <p></p>
      <a href="../index.html" id="logo">
          <h1>PORTFOLIO</h1>
    
      </a>
    </header>
    <nav>
        <ul>
          <li><h3><a href="../index.html" class="selected">Resource</a></h3></li>
          <li><h3><a href="about.html">About</a></h3></li>
          <li><u><h3><a href="contact.html">Contact</a></h3></u></li>
        </ul>
    </nav>
    <div id="wrapper">
      <section>
	  <p></p>
	  <p></p>
      <h3>Contact</h3>
	  <p>Alexander.wikenfalk@gmail.com</p>
      </section>
    </div>
    <footer>
        Länkar till din LinkedIn eller twitter
    </footer>
  </body>
</html>
